<!DOCTYPE html>
<html class="wf-roboto-n3-active wf-roboto-n4-active wf-roboto-n5-active wf-roboto-n7-active wf-active" lang="en">

<head>

	<title>Spotted's</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Main Font -->
	<script src="/js/webfontloader.min.js"></script>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=latin" media="all">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=latin" media="all">
	<script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});
	</script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="/Bootstrap/dist/css/bootstrap-reboot.css">
	<link rel="stylesheet" type="text/css" href="/Bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/Bootstrap/dist/css/bootstrap-grid.css">

	<!-- Theme Styles CSS -->
	<link rel="stylesheet" type="text/css" href="/css/theme-styles.css">
	<link rel="stylesheet" type="text/css" href="/css/blocks.css">
	<link rel="stylesheet" type="text/css" href="/css/fonts.css">

	<!-- Styles for plugins -->
	<link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.min.css">

	<!-- Lightbox popup script-->
	<link rel="stylesheet" type="text/css" href="/css/magnific-popup.css">
</head>

<body>


	<!-- Fixed Sidebar Left -->
	<div class="fixed-sidebar">
		<div class="fixed-sidebar-left sidebar--small" id="sidebar-left">
			<a href="/profile" class="logo">
			<img src="/img/logo.png" alt="Spotted">
		</a>

			<div class="mCustomScrollbar ps ps--theme_default ps--active-x ps--active-y" data-mcs-theme="dark" data-ps-id="125ceef4-a96b-edc0-4226-afe5ac1edb0b">
				<ul class="left-menu">
					<li>
						<a href="#" class="js-sidebar-open">
							<svg class="olymp-menu-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="EXPANDIR MENU">
								<use xlink:href="icons/icons.svg#olymp-menu-icon"></use>
							</svg>
						</a>
					</li>

					<li>
						<a href="#">
							<svg class="olymp-chat---messages-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="MENSAGENS">
								<use xlink:href="icons/icons.svg#olymp-chat---messages-icon"></use>
							</svg>
						</a>
					</li>
				</ul>
				<div class="ps__scrollbar-x-rail" style="width: 70px; left: 0px; bottom: 0px;">
					<div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 64px;"></div>
				</div>
				<div class="ps__scrollbar-y-rail" style="top: 0px; height: 589px; right: 0px;">
					<div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 490px;"></div>
				</div>
				<div class="ps__scrollbar-x-rail" style="width: 70px; left: 0px; bottom: 0px;">
					<div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 64px;"></div>
				</div>
				<div class="ps__scrollbar-y-rail" style="top: 0px; height: 546px; right: 0px;">
					<div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 458px;"></div>
				</div>
			</div>
		</div>

		<div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1">
			<a href="/profile" class="logo">
			<img src="/img/logo.png" alt="Spotted">
			<h6 class="logo-title">spotted</h6>
		</a>

			<div class="mCustomScrollbar ps ps--theme_default ps--active-y" data-mcs-theme="dark" data-ps-id="cdebc60f-8d90-b5d3-9db7-1362686f7fb7">
				<ul class="left-menu">
					<li>
						<a href="#" class="js-sidebar-open">
							<svg class="olymp-close-icon left-menu-icon">
								<use xlink:href="icons/icons.svg#olymp-close-icon"></use>
							</svg>
							<span class="left-menu-title">Fechar Menu</span>
						</a>
					</li>

					<li>
						<a href="#">
							<svg class="olymp-chat---messages-icon left-menu-icon" data-toggle="tooltip" data-placement="right" title="" data-original-title="MENSAGENS">
								<use xlink:href="icons/icons.svg#olymp-chat---messages-icon"></use>
							</svg>
							<span class="left-menu-title">Mensagens</span>
						</a>
					</li>
				</ul>

				<div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
					<div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
				</div>
				<div class="ps__scrollbar-y-rail" style="top: 0px; height: 589px; right: 0px;">
					<div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 414px;"></div>
				</div>
				<div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
					<div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
				</div>
				<div class="ps__scrollbar-y-rail" style="top: 0px; height: 546px; right: 0px;">
					<div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 356px;"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- ... end Fixed Sidebar Left -->

	<!-- Fixed Sidebar Left -->

	<div class="fixed-sidebar fixed-sidebar-responsive">

		<div class="fixed-sidebar-left sidebar--small" id="sidebar-left-responsive">
			<a href="#" class="logo js-sidebar-open">
			<img src="img/logo.png" alt="Olympus">
		</a>

		</div>

		<div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1-responsive">
			<a href="#" class="logo">
			<img src="/img/logo.png" alt="Spotted">
			<h6 class="logo-title">spotted</h6>
		</a>

			<div class="mCustomScrollbar ps ps--theme_default" data-mcs-theme="dark" data-ps-id="550d86b1-6423-ea87-e6fd-bd2b5cd42d4a">

				<div class="control-block">
					<div class="author-page author vcard inline-items">
						<div class="author-thumb">
							<img alt="author" src="http://graph.facebook.com/<%= user.facebook.id %>/picture?type=large" class="avatar">
							<span class="icon-status online"></span>
						</div>
						<a href="02-ProfilePage.html" class="author-name fn">
							<div class="author-title">
								<%= user.facebook.name %>
									<svg class="olymp-dropdown-arrow-icon">
										<use xlink:href="icons/icons.svg#olymp-dropdown-arrow-icon"></use>
									</svg>
							</div>
							<span class="author-subtitle"><%= user.facebook.name %></span>
						</a>
					</div>
				</div>

				<div class="ui-block-title ui-block-title-small">
					<h6 class="title">Seção principal</h6>
				</div>


				<div class="ui-block-title ui-block-title-small">
					<h6 class="title">Minha conta</h6>
				</div>

				<ul class="account-settings">
					<li>
						<a href="#">

							<svg class="olymp-menu-icon">
								<use xlink:href="icons/icons.svg#olymp-menu-icon"></use>
							</svg>

							<span>Configurações</span>
						</a>
					</li>
					<li>
						<a href="#">
							<svg class="olymp-logout-icon">
								<use xlink:href="icons/icons.svg#olymp-logout-icon"></use>
							</svg>

							<span>Sair</span>
						</a>
					</li>
				</ul>


				<ul class="about-olympus">
					<li>
						<a href="#">
						<span>Termos e Condições</span>
					</a>
					</li>
					<li>
						<a href="#">
						<span>FAQs</span>
					</a>
					</li>
				</ul>

				<div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
					<div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
				</div>
				<div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;">
					<div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
				</div>
				<div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
					<div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
				</div>
				<div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;">
					<div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- ... end Fixed Sidebar Left -->






	<!-- ... end Fixed Sidebar Right -->


	<!-- Header -->

	<header class="header" id="site-header">

		<div class="page-title">
			<h6>spotted</h6>
		</div>

		<div class="header-content-wrapper">




			<div class="control-block">







				<div class="author-page author vcard inline-items more">
					<div class="author-thumb">
						<img alt="author" src="http://graph.facebook.com/<%= user.facebook.id %>/picture?type=small" class="avatar">
						<span class="icon-status online"></span>
						<div class="more-dropdown more-with-triangle">
							<div class="mCustomScrollbar ps ps--theme_default ps--active-y" data-mcs-theme="dark" data-ps-id="31b4d533-8055-a1dc-7c06-4da82b71237d">
								<div class="ui-block-title ui-block-title-small">
									<h6 class="title">Minha conta</h6>
								</div>

								<ul class="account-settings">
									<li>
										<a href="#">

											<svg class="olymp-menu-icon">
												<use xlink:href="icons/icons.svg#olymp-menu-icon"></use>
											</svg>

											<span>Configurações</span>
										</a>
									</li>

									<li>
										<a href="/logout">
											<svg class="olymp-logout-icon">
												<use xlink:href="icons/icons.svg#olymp-logout-icon"></use>
											</svg>

											<span>Sair</span>
										</a>
									</li>
								</ul>

								<ul>
									<li>
										<a href="#">
										<span>Termos e Condições</span>
									</a>
									</li>
									<li>
										<a href="#">
										<span>FAQs</span>
									</a>
									</li>
								</ul>
								<div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
									<div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
								</div>
								<div class="ps__scrollbar-y-rail" style="top: 0px; height: 619px; right: 0px;">
									<div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 551px;"></div>
								</div>
								<div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
									<div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
								</div>
								<div class="ps__scrollbar-y-rail" style="top: 0px; height: 576px; right: 0px;">
									<div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 480px;"></div>
								</div>
							</div>

						</div>
					</div>
					<a href="#" class="author-name fn">
						<div class="author-title">
							<%= user.facebook.name %>
								<svg class="olymp-dropdown-arrow-icon">
									<use xlink:href="icons/icons.svg#olymp-dropdown-arrow-icon"></use>
								</svg>
						</div>
					</a>
				</div>

			</div>
		</div>

	</header>

	<!-- ... end Header -->


	<!-- Responsive Header -->

	<header class="header header-responsive" id="site-header-responsive">

		<div class="header-content-wrapper">
			<ul class="nav nav-tabs mobile-app-tabs" role="tablist">

			</ul>
		</div>

	</header>

	<!-- ... end Responsive Header -->

	<div class="header-spacer"></div>


	<div class="container">
		<div class="row">

			<!-- Main Content Post Versions -->
			<main class="col-xl-6 push-xl-3 col-lg-12 push-lg-0 col-md-12 col-sm-12 col-xs-12">

				<div class="ui-block">
					<div class="news-feed-form">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link inline-items active" data-toggle="tab" href="#home-1" role="tab" aria-expanded="true">

									<svg class="olymp-status-icon">
										<use xlink:href="icons/icons.svg#olymp-status-icon"></use>
									</svg>

									<span>Spotted</span>
									<div class="ripple-container"></div>
								</a>
							</li>



						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							<div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
								<form id="formPostSpotted" action="javascript:void%200">
									<div class="author-thumb">
										<img src="http://graph.facebook.com/<%= user.facebook.id %>/picture?type=small" height="40px" width="40px" alt="author">
									</div>
									<div class="form-group with-icon label-floating is-empty">
										<label class="control-label">Descreva seu spotted aqui...</label>
										<textarea id="descricaoSpotted" class="form-control" required placeholder=""></textarea>
										<span class="material-input"></span>
									</div>

									<div id="maps" class="form-group ">
										<div class="form-control" style="height:200px;" id="map"></div>
									</div>
									<div class="form-group with-icon label-floating is-empty">
										<input id="mapSearchInput" type="hidden" class="form-control" placeholder=""></input>
										<input id="mapLng" type="hidden" class="form-control" placeholder=""></input>
										<input id="mapLat" type="hidden" class="form-control" placeholder=""></input>
									</div>

									<div class="add-options-message">
										<div class="checkbox options-message">
											<label>
												<input id="chkAnonimo" name="optionsCheckboxes" type="checkbox">
												<span class="checkbox-material"></span>
												Anônimo
											</label>
										</div>
										<button id="btnPostar" class="btn btn-primary btn-md-2">Postar</button>
									</div>

								</form>

							</div>
						</div>
					</div>
				</div>

				<div id="newsfeed-items-grid">
					<% for(var i=0; i < spotteds.length; i++) { %>
						<div class="ui-block">
							<article class="hentry post video">
								<%if (!spotteds[i].anonimo) { %>
									<div class="post__author author vcard inline-items">
										<img src="http://graph.facebook.com/<%= spotteds[i].id_usuario %>/picture?type=small" alt="author">

										<div class="author-date">
											<a class="h6 post__author-name fn" href="#">
												<%= spotteds[i].display_name %>
													<% } else{ %>
														<div class="post__author author vcard inline-items">
															<img src="/img/avatar2-sm.jpg" alt="author">

															<div class="author-date">
																<a class="h6 post__author-name fn" href="#">
																		Anônimo
																	<% }  %>
																</a> postado em

																<div class="post__date">
																	<time class="published" datetime="<%= spotteds[i].created_at %>">
																		<%= spotteds[i].created_at %>
																	</time>
																</div>
															</div>
															<%if (spotteds[i].id_usuario == user.facebook.id) { %>
																<div class="more">
																	<svg class="olymp-three-dots-icon">
																		<use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use>
																	</svg>



																	<ul class="more-dropdown">
																		<li>
																			<a href="#">Editar Post</a>
																		</li>
																		<li>
																			<a href="#">Deletar Post</a>
																		</li>
																	</ul>
																</div>
																<% } %>
														</div>
														<p>
															<%= spotteds[i].descricao %>
														</p>

														<div class="control-block-button post-control-button">

															<%if (spotteds[i].id_usuario != user.facebook.id) { %>
																<a href="#" class="btn btn-control">
																	<svg class="olymp-comments-post-icon">
																		<use xlink:href="icons/icons.svg#olymp-comments-post-icon"></use>
																	</svg>
																</a>
																<% } %>
																	<a href="#" class="btn btn-control">
																		<svg class="olymp-share-icon">
																			<use xlink:href="icons/icons.svg#olymp-share-icon"></use>
																		</svg>
																	</a>

														</div>

							</article>
							</div>
							<% } %>
								</div>


								<a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid">
									<svg class="olymp-three-dots-icon">
										<use xlink:href="icons/icons.svg#olymp-three-dots-icon"></use>
									</svg>
								</a>


			</main>

			</div>
			</div>


			<!-- jQuery first, then Other JS. -->
			<script src="/js/jquery-3.2.0.min.js"></script>
			<!-- Js effects for material design. + Tooltips -->
			<script src="/js/material.min.js"></script>
			<!-- Helper scripts (Tabs, Equal height, Scrollbar, etc) -->
			<script src="/js/theme-plugins.js"></script>
			<!-- Init functions -->
			<script src="/js/main.js"></script>

			<!-- Select / Sorting script -->
			<script src="/js/selectize.min.js"></script>

			<!-- Lightbox popup script-->
			<script src="/js/jquery.magnific-popup.min.js"></script>
			<!-- Gif Player script-->
			<script src="/js/jquery.gifplayer.js"></script>

			<script src="/js/mediaelement-and-player.min.js"></script>
			<script src="/js/mediaelement-playlist-plugin.min.js"></script>

			<script>
				// Note: This example requires that you consent to location sharing when
				// prompted by your browser. If you see the error "The Geolocation service
				// failed.", it means you probably did not give permission for the browser to
				// locate you.
				$(document).ready(function () {

					$('#btnPostar').click(function () {

						if ($.trim($("#descricaoSpotted").val()).length > 0) {
							var anonimo = $('#chkAnonimo').is(':checked') ? 1 : 0;
							var json = '{ "descricao":"' + $('#descricaoSpotted').val() + '", "status": 0, "anonimo": ' + anonimo + ', "localidade":{"longitude": "' + $('#mapLng').val() + ' ","latitude": "' + $('#mapLat').val() + '", "endereco":"' + $('#mapSearchInput').val() + '"}, "display_name": "<%= user.facebook.name %>", "id_usuario":"<%= user.facebook.id %>" }';
							console.log(json);
							$.ajax({
								type: "POST",
								url: "/profile/spotted/new",
								timeout: 2000,
								data: JSON.parse(json),
								success: function (data) {
									//show content
									alert('Success!')
								},
								error: function (jqXHR, textStatus, err) {
									//show error message
									alert('text status ' + textStatus + ', err ' + err)
								}
							});
						}//postItem()

					});

				});

				function initMap() {
					var map = new google.maps.Map(document.getElementById('map'), {
						zoom: 15
					});


					var marker = new google.maps.Marker({ map: map, draggable: true });



					// Try HTML5 geolocation.
					if (navigator.geolocation) {
						navigator.geolocation.getCurrentPosition(function (position) {
							var pos = {
								lat: position.coords.latitude,
								lng: position.coords.longitude
							};

							marker.setPosition(pos);

							map.setCenter(pos);
						}, function () {
							handleLocationError(true, null, map.getCenter());
						});
					} else {
						// Browser doesn't support Geolocation
						handleLocationError(false, null, map.getCenter());
					}
					google.maps.event.addListener(marker, 'dragend', function () {
						geocodePosition(marker.getPosition());
					});

					function geocodePosition(pos) {
						geocoder = new google.maps.Geocoder();
						geocoder.geocode
							({
								latLng: pos
							},
							function (results, status) {
								if (status == google.maps.GeocoderStatus.OK) {
									$("#mapSearchInput").val(results[0].formatted_address);
									$("#mapLat").val(pos.lat);
									$("#mapLng").val(pos.lng);
									$("#mapErrorMsg").hide(100);
								}
								else {
									$("#mapErrorMsg").html('Endereço não encontrado' + status).show(100);
								}
							}
							);
					}

				}
			</script>
			<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPxbzzIjpkI05maRlYlvimTf7o-W8FicI &callback=initMap">

			</script>
</body>

</html>